
/* animations */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}

@keyframes scaleUp {


    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.11);
    }

    100% {
        transform: scale(1);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#hero {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/pattern_hearts.png);
    background-repeat: repeat;
}

#HeroLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px 0px 50px;
    max-width: 920px;
}

/* #HeroLogo:hover{
    animation: 1s linear 0.1s 1 heartBeat;
} */

#pageLinks {
    text-align: center;
    margin: 50px;
}

.linkButton {
    background-color: white;
    padding: 15px 20px;
    text-decoration-line: none;
    border: 2px solid grey;
    color: black;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 14pt;
    cursor: pointer;
    animation: 1.5s ease-in-out 0.3s 1 scaleUp;
    margin: 0px 10px;
}

/* icon styling */
.fa-heart {
    color: #be1a1a;
}

.fa-paint-brush {
    color: #7f62ff;
}

.fa-images {
    color: #22ac00;
}

.fa-envelope {
    color: #ffce73;
}

.linkButton:hover {
    font-weight: 700;

}

.content {
    background-color: white;
    height: 500px;
    width: 100%;
    text-align: center;
}

.contentHeader {
    margin: 40px 0px;
    font-size: 40pt;
    font-family: 'Nunito';
}

#kaytie {
    height: 250px;
    width: 250px ;
    vertical-align: middle;
}

#welcomeText {
    width: 250px;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
}

#verticalLine {
    border-left: 2.5px solid rgba(78, 67, 67, 0.267);
    height: 250px;
    display: inline-block;
    margin: 10px 12px;
    vertical-align: middle;
    border-radius: 5px;
}



.content:hover i {
    animation: 1s linear 0.1s 1 heartBeat
}

#aboutContent {
    text-align: center;
}
#aboutContent *{
    vertical-align: middle
}

footer {
    background-image: url(/imgs/pattern_hearts.png); //not working?!
    background-repeat: repeat;
}

footer div {
    text-align: center;
}


footer i {
    margin: 50px 10px;
}

/* social media links styling */
.fa-facebook {
    padding: 7px;
    border-radius: 30px;
    border: 2px solid grey;
    color: grey;
}

.fa-facebook:hover {
    background-color: #4e28f7;
    border: 2px solid rgb(14, 35, 104);
    color: white;
}

.fa-instagram {
    padding: 7px;
    border-radius: 70px;
    border: 2px solid grey;
    color: grey;
}

.fa-instagram:hover {
    background-color: #c155ff;
    border: 2px solid rgb(116, 36, 207);
    color: white;
}